<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dogs | <%= title%></title>
</head>
<body>

<nav>
    <a href="/">Home page</a>
    <a href="/dogs">Dogs</a>
</nav>


            <h1>all dogs</h1>
</body>
</html>
