<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dogs | <%= title %></title>
</head>
<body>
<%- include('./partials/nav.ejs') %>


<h1>all dogs</h1>
<%- include('./partials/footer.ejs') %>

</body>
</html>
