@import "variables";
/*conatiner and media*/
.container {
  width: 100%;
  //padding-right: 15px;
  //padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: $desktop) {
    max-width: 1440px;
  }
  @media (max-width: $tablet-bg) {
    max-width: 960px;
  }
  @media (max-width: $tablet) {
    max-width: 720px;
  }
  @media (max-width: $sm) {
    max-width: 540px;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    //@media (max-width: $tablet-bg) {
    //  justify-content: flex-start;
    //}
  }
}

.row-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
  //@media (max-width: $tablet-bg) {
  //  justify-content: flex-start;
  //}
}

.row-class {
  display: -ms-flexbox;
  display: flex;
  //-ms-flex-wrap: wrap;
  //flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-right: 15px;
  margin-left: 15px;

}

@mixin flex-ct {
  display: flex;
  justify-content: center;
  align-content: center;
}

@mixin flex-sb {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

@mixin flex-sa {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
}

.display {
  padding-left: 4rem;
  @media (max-width: $desktop) {
    padding-left: 4rem;
  }
  @media (max-width: $tablet-bg) {
    padding-left: 3.5rem;
  }
  @media (max-width: $tablet) {
    padding-left: 2rem;
  }
  @media (max-width: $sm) {
    padding-left: 0;
  }
}

.pt-2 {
  padding-top: 2rem;
}

//@media (max-width: $desktop) {
//  .container {
//    max-width: 1440px;
//  }
//}
//
//@media (max-width: $tablet-bg) {
//  .container {
//    max-width: 960px;
//  }
//}
//
//@media (max-width: $tablet) {
//  .container {
//    max-width: 720px;
//  }
//}
//
//@media (max-width: $sm) {
//  .container {
//
//    width: 90% !important;
//    max-width: 540px;
//  }
//}


//.display-flex